In [ ]:
#MCQ
1)a,b,c
2)b
3}d
4)a
5)a,b
6)d
7)c
8)a
9)b
10)a,c
11)b,c,d
12)c
13)a,b,c,d
14)a,b,c
15)a
16)c
17)a
18)a
19)a
20)b
21)b
22)b
23)a
24)d
25)d
26)a
27)a
28)a
29)b
30)c

In [ ]:
#Scenario Based Questions
1)Handling missing data in a dataset involves several strategies. First, identify and assess the extent of missing values.
  For numerical data, you can impute missing values with the mean, median, or through regression. 
  In categorical data, you might use the mode or a special "missing" category.
  Alternatively, consider removing rows with missing values if the impact on dataset size is minimal. 
  For time-series data, use time-based methods. 
  Advanced techniques like multiple imputation or domain-specific knowledge can also be employed. 
  Remember to document the chosen approach and consider sensitivity analysis to evaluate the impact of different 
  imputation methods on your analysis.
    
2)For predicting customer churn in a telecommunications company, machine learning algorithms like 
  Logistic Regression, Random Forest, Gradient Boosting, and SVM are effective.
  Evaluation involves accuracy, precision, recall, F1 score, ROC-AUC, and business metrics like revenue impact. 
  Use cross-validation and 
  hyperparameter tuning to enhance model performance.
  Continuously update the model to adapt to evolving customer behavior.
    
3)To segment customers for a retail company based on purchasing behavior, I'd preprocess and select relevant features, 
  apply clustering algorithms, and interpret the segments. 
  This analysis provides several benefits. Firstly, it enables personalized marketing, tailoring campaigns and recommendations to each group, 
  increasing engagement and sales. 
  Secondly, it aids in customer retention by identifying at-risk customers for targeted retention efforts. 
  Thirdly, it optimizes product offerings and pricing strategies for different segments, increasing sales and satisfaction. 
  It also facilitates efficient resource allocation and improves overall customer experiences.
  In a competitive market, customer segmentation provides a data-driven advantage, fostering customer loyalty and growth.
    
4)Categorical variables are like labels for different groups or types of things, like colors or cities. 
  To use them in predicting outcomes (e.g., yes or no), you need to turn them into numbers because that's 
  what most prediction models understand. 
  There are different ways to do this. You can give each category a unique number (label encoding), 
  create a list of yes/no columns for each category (one-hot encoding), or use more advanced methods. 
  The choice depends on the type of categories and the prediction method you're using. 
  The goal is to make the data ready for the computer to predict the outcomes.

In [ ]:
#Concept Based Questions
1)Multicollinearity is a phenomenon in regression analysis where two or more independent variables in a statistical model 
are highly correlated.It impacts the regression model in several ways:
    ->Unstable Coefficients
    ->Difficulty in Interpretation
    ->Loss of Statistical Significance
    ->Inflated Standard Errors
    ->Reduced Predictive Power.
Challenges of Multicollinearity:
----Difficulty in Identifying Important Predictors: It becomes challenging to identify which variables are most important for
    predicting the outcome.
----Unstable Model Coefficients: Small changes in data can result in large variations in coefficient estimates, making it 
    hard to rely on the model.
Techniques to Handle Multicollinearity:
----Correlation Analysis:
----VIF (Variance Inflation Factor)
----Feature Selection
----Ridge Regression
----Principal Component Analysis (PCA)
----Data Collection and Domain Knowledge


2)Outliers are data points that are very different from the others. They can mess up your predictions in regression models. 
  To deal with them, you can:

  a. **Look at Your Data:** Use plots to spot these odd points.

  b. **Z-Score:** Calculate how far each point is from the average, and if it's too far, consider it an outlier.

  c. **IQR Method:** Create a range using the middle 50% of your data and see if any points are outside that range.

  d. **Residuals:** For regression, look at how far your predictions are from real data. Large differences might mean outliers.

  e. **Transform Data:** Change your data using math to reduce the impact of outliers.

  f. **Capping:** Set a limit for extreme values.

  g. **Robust Models:** Use models that are less bothered by outliers.

  h. **Data Imputation:** Replace outliers with sensible values.

  i. **Different Models:** Try models that handle outliers better.

  j. **Remove Outliers:** In extreme cases, you can throw them away, but be careful because you might lose important information.

    
3)Overfitting in regression happens when the model learns the training data too well, like memorizing a textbook rather than 
  understanding the material. It's a problem because the model doesn't work well with new data.

  To fix this, we use regularization techniques like Ridge and Lasso:

- **Ridge** makes sure that the numbers (coefficients) in the model don't get too big. It's like saying,
    "Don't give too much importance to any one thing."

- **Lasso** not only does that but can also say, "If something isn't important, forget about it completely."

  These techniques help the model find the right balance between fitting the training data well and not getting too complex. 
  That way, the model can predict new data better and is easier to understand.


4)When regular regression doesn't work for data that has curves or bends, you can use **polynomial regression**. 
  It's like using curved lines instead of straight lines to fit the data. 

- Imagine data points on a graph. Instead of drawing a straight line, polynomial regression draws curves, 
  allowing the model to understand wavy patterns.

- To pick the right curve, you choose a **degree**, which is how bendy the curve can be. Too little bend, and it doesn't 
  fit well. Too much bend, and it fits too well but only for the data it's seen before. You find the best degree using testing 
  and checking how well the curve works for new data.

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\aryan\Downloads\submission.csv\submission.csv")
df1 = pd.read_csv(r"C:\Users\aryan\Downloads\train.csv\train.csv")
df2 = pd.read_csv(r"C:\Users\aryan\Downloads\test.csv\test.csv")
df

C:\Users\aryan\AppData\Local\Temp\ipykernel_18804\3158017061.py:4: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(r"C:\Users\aryan\Downloads\train.csv\train.csv")

       ForecastId_Quantile  TargetValue
0                   1_0.05            1
1                    1_0.5            1
2                   1_0.95            1
3                   2_0.05            1
4                    2_0.5            1
...                    ...          ...
935005          311669_0.5            1
935006         311669_0.95            1
935007         311670_0.05            1
935008          311670_0.5            1
935009         311670_0.95            1

[935010 rows x 2 columns]

In [2]:
df1

,Id,County,Province_State,Country_Region,Population,Weight,Date,Target,TargetValue
0,1,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-23,ConfirmedCases,0
1,2,NaN,NaN,Afghanistan,27657145,0.583587,2020-01-23,Fatalities,0
2,3,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-24,ConfirmedCases,0
3,4,NaN,NaN,Afghanistan,27657145,0.583587,2020-01-24,Fatalities,0
4,5,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-25,ConfirmedCases,0
...,...,...,...,...,...,...,...,...,...
969635,969636,NaN,NaN,Zimbabwe,14240168,0.607106,2020-06-08,Fatalities,0
969636,969637,NaN,NaN,Zimbabwe,14240168,0.060711,2020-06-09,ConfirmedCases,27
969637,969638,NaN,NaN,Zimbabwe,14240168,0.607106,2020-06-09,Fatalities,0
969638,969639,NaN,NaN,Zimbabwe,14240168,0.060711,2020-06-10,ConfirmedCases,6
969639,969640,NaN,NaN,Zimbabwe,14240168,0.607106,2020-06-10,Fatalities,0

In [3]:
df2

,ForecastId,County,Province_State,Country_Region,Population,Weight,Date,Target
0,1,NaN,NaN,Afghanistan,27657145,0.058359,2020-04-27,ConfirmedCases
1,2,NaN,NaN,Afghanistan,27657145,0.583587,2020-04-27,Fatalities
2,3,NaN,NaN,Afghanistan,27657145,0.058359,2020-04-28,ConfirmedCases
3,4,NaN,NaN,Afghanistan,27657145,0.583587,2020-04-28,Fatalities
4,5,NaN,NaN,Afghanistan,27657145,0.058359,2020-04-29,ConfirmedCases
...,...,...,...,...,...,...,...,...
311665,311666,NaN,NaN,Zimbabwe,14240168,0.607106,2020-06-08,Fatalities
311666,311667,NaN,NaN,Zimbabwe,14240168,0.060711,2020-06-09,ConfirmedCases
311667,311668,NaN,NaN,Zimbabwe,14240168,0.607106,2020-06-09,Fatalities
311668,311669,NaN,NaN,Zimbabwe,14240168,0.060711,2020-06-10,ConfirmedCases
311669,311670,NaN,NaN,Zimbabwe,14240168,0.607106,2020-06-10,Fatalities

In [4]:
df.head(5)

  ForecastId_Quantile  TargetValue
0              1_0.05            1
1               1_0.5            1
2              1_0.95            1
3              2_0.05            1
4               2_0.5            1

In [5]:
df1.head(5)

,Id,County,Province_State,Country_Region,Population,Weight,Date,Target,TargetValue
0,1,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-23,ConfirmedCases,0
1,2,NaN,NaN,Afghanistan,27657145,0.583587,2020-01-23,Fatalities,0
2,3,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-24,ConfirmedCases,0
3,4,NaN,NaN,Afghanistan,27657145,0.583587,2020-01-24,Fatalities,0
4,5,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-25,ConfirmedCases,0

In [6]:
df2.head(5)

,ForecastId,County,Province_State,Country_Region,Population,Weight,Date,Target
0,1,NaN,NaN,Afghanistan,27657145,0.058359,2020-04-27,ConfirmedCases
1,2,NaN,NaN,Afghanistan,27657145,0.583587,2020-04-27,Fatalities
2,3,NaN,NaN,Afghanistan,27657145,0.058359,2020-04-28,ConfirmedCases
3,4,NaN,NaN,Afghanistan,27657145,0.583587,2020-04-28,Fatalities
4,5,NaN,NaN,Afghanistan,27657145,0.058359,2020-04-29,ConfirmedCases

In [7]:
#task 1 (B)

import pandas as pd

# Read the data
df1 = pd.read_csv(r"C:\Users\aryan\Downloads\train.csv\train.csv")

# Filter the data for COVID-19 deaths
deaths_data = df1[df1['Target'] == 'Fatalities']

# Group the data by country/region and sum the death counts
country_deaths = deaths_data.groupby('Country_Region')['TargetValue'].sum()

# Find the country/region with the highest number of deaths
country_with_highest_deaths = country_deaths.idxmax()
highest_death_count = country_deaths.max()

print(f"The country or region with the highest number of COVID-19 deaths is {country_with_highest_deaths} with {highest_death_count} deaths.")

C:\Users\aryan\AppData\Local\Temp\ipykernel_18804\2413546578.py:6: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(r"C:\Users\aryan\Downloads\train.csv\train.csv")

The country or region with the highest number of COVID-19 deaths is US with 337252 deaths.

In [11]:
#Task1(C)
import pandas as pd

# Assuming df1 contains the data for recoveries
recovered_cases_data = df1[df1['Target'] == 'Fatalities']
country_recoveries = recovered_cases_data.groupby('Country_Region')['TargetValue'].sum()
country_with_highest_recoveries = country_recoveries.idxmax()
highest_recoveries_count = country_recoveries.max()

print(f"The country or region with the highest number of recovered COVID-19 cases is {country_with_highest_recoveries} with {highest_recoveries_count} cases.")

The country or region with the highest number of recovered COVID-19 cases is US with 337252 cases.

In [12]:
# Assuming df1 contains your COVID-19 data
df1['Cases_Lag1'] = df1['TargetValue'].shift(1)  # Lag of 1 day
df1['Cases_Lag7'] = df1['TargetValue'].shift(7)  # Lag of 7 days

In [13]:
df1

,Id,County,Province_State,Country_Region,Population,Weight,Date,Target,TargetValue,Cases_Lag1,Cases_Lag7
0,1,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-23,ConfirmedCases,0,NaN,NaN
1,2,NaN,NaN,Afghanistan,27657145,0.583587,2020-01-23,Fatalities,0,0.0,NaN
2,3,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-24,ConfirmedCases,0,0.0,NaN
3,4,NaN,NaN,Afghanistan,27657145,0.583587,2020-01-24,Fatalities,0,0.0,NaN
4,5,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-25,ConfirmedCases,0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
969635,969636,NaN,NaN,Zimbabwe,14240168,0.607106,2020-06-08,Fatalities,0,5.0,28.0
969636,969637,NaN,NaN,Zimbabwe,14240168,0.060711,2020-06-09,ConfirmedCases,27,0.0,0.0
969637,969638,NaN,NaN,Zimbabwe,14240168,0.607106,2020-06-09,Fatalities,0,27.0,14.0
969638,969639,NaN,NaN,Zimbabwe,14240168,0.060711,2020-06-10,ConfirmedCases,6,0.0,0.0
969639,969640,NaN,NaN,Zimbabwe,14240168,0.607106,2020-06-10,Fatalities,0,6.0,3.0